---
// src/components/CardQuote.astro

export interface Props {
  quote: string;
  author: string;
  imageUrl: string;
  imageAlt: string;
  videoPosition?: 'left' | 'right';
  backgroundColorClass?: string;
  backgroundImageUrl?: string;
}

const {
  quote,
  author,
  imageUrl,
  imageAlt,
  videoPosition = 'right',
  backgroundColorClass = 'bg-primary-color', // Default to primary for this component
  backgroundImageUrl = '',
} = Astro.props;

const videoSectionClasses = [
  'bg--small',
  'c-wm-video',
  'c-wm-video--50-50',
  videoPosition === 'right' ? 'c-wm-video--video-right' : 'c-wm-video--video-left'
].join(' ');

const backgroundStyle = backgroundImageUrl ? `background-image:url(${backgroundImageUrl}); background-position:center; background-size: cover;` : '';
---

<div class={videoSectionClasses} style={backgroundStyle} id="video">
    <div class="bg--medium" style={backgroundStyle}>
        <div class="module bg--large soft-lens--ends" style={backgroundStyle}>
            <div class="wrap">
                <div class="col small-12">
                    <div class:list={['c-wm-video__wrapper', backgroundColorClass, 'white']}>
                        <div class="c-wm-video__video-col">
                            <img class="img-overlay__image full-width ls-is-cached lazyloaded" data-src={imageUrl} alt={imageAlt} src={imageUrl}>
                        </div>
                        <div class="c-wm-video__info-col">
                            <div>
                                <div class="editor white">
                                    <p set:html={quote} />
                                    <p>{author}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
