---
// src/components/ServicesCard.astro
export interface Props {
  iconUrl: string;
  title: string;
  description: string;
  href: string;
}

const { iconUrl, title, description, href } = Astro.props;
---

<div class="services-card">
    <img class="push--bottom services-card__icon" src={iconUrl} alt={`${title} icon`}>

    <div class="services-card__copy">
        <div class="services-card__title">
            <h3 class="kilo">{title}</h3>
        </div>
        <p>{description}</p>
    </div>

    <div class="services-card__cta">
        <span class="services-card__link link-icon--arrow gamma">Learn more</span>
    </div>
    <a href={href}></a>
</div>